.navBarContainer {
    background-color: #082720;
    height: 96px;
}

.logo {
    width: 13em;
    padding: 1em;
}

.navBarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.navBarLink{
    font-size: 1.25em;
}

.navBarLink, .navBarLinkIcon {
    color: #fffae4;
    text-decoration: none;
}

.navBarLinkIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    font-size: 2em;
}

.navBarLinksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
}

.mobileNavBarItems {
    display: none;
}

.mobileNavBarBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    font-size: xx-large;
    padding: 0.5em;
}

.drawer{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2em;
    gap: 1em;
    background-color: #004643;
    font-size: xx-large;
}

@media screen and (max-width: 600px) {
    .navBarItems {
        display: none;
    }
    .mobileNavBarItems {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}